// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Cantora One',sans-serif;} // font header
.fs {font-family: 'BenchNine',sans-serif;} // font special
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #545454;
@c2: #0a9ab6;
@c3: #003d87;
@c4: #7b9e01;
@c5: #6736a3;
@c6: #d1c000;
@c7: #ff810a;
@c8: #92bc01;
@c9: #ee155e;
@c10: #ee1515;

@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.5; // line height primary

// form
@input-size: 16px;
@input-height: 50px;
@input-padding: 15px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 1120px;
@content-width-md: 920px;
@content-width-sm: 700px;
@content-width-xs: 100%;
@content-padding: 0;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";
@xxs: ~"(max-width: 479px)";