#page-header {
	.box-shadow(0 0 12px #000);
	position: relative;
	z-index: 999;
	height: 100px;
	overflow: visible;
	background: @c3 url(../images/bg/01.jpg) repeat-x top;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
	@media @md {
		height: 82px;
	}
	@media @sm, @xs {
		height: auto;
		background: @c3;
	}
	.logo {
		float: left;
		width: 266px;
		margin: 0 0 -15px -1px;
		@media @sm, @xs {
			float: none;
			width: auto;
		}
		a {
			.box-shadow(6px 7px 0 fade(#000,20));
			display: block;
			padding: 30px 25px 0 32px;
			height: 115px;
			background: #fff;
			@media @sm, @xs {
				width: 260px;
				margin: 0 auto;
				height: auto;
				padding: 20px;
			}
			img {
				display: block;
			}
		}
	}
}
#nav-top {
	position: relative;
	z-index: 998;
	background: @c3;
}
#wrapper {
	position: relative;
	background: url(../images/bg/02.png) repeat-x center 50px;
	&>.container {
		background: #fff;
	}
}
.home-left {
	float: left;
	width: 50%;
	margin: 50px 0 50px;
	@media @md {
		width: 62%;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
		margin: 0;
	}
}
.home-right {
	float: left;
	width: 50%;
	margin: 50px 0 50px;
	padding: 0 0 0 85px;
	@media @md {
		width: 38%;
		padding: 0 0 0 40px;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
		padding: 0;
	}
}
#col-main {
	float: right;
	width: 760px;
	margin: 60px 0;
	padding: 0 20px 0 0;
	@media @md  {
		width: 640px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		padding: 0;
	}
}
#col-left {
	float: left;
	width: 260px;
	margin: 65px 0;
	padding: 0 0 0 20px;
	@media @md  {
		width: 240px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		padding: 0;
	}
}
#col-bottom {
	padding: 40px 0 23px;
	background: @c3;
}
#page-footer {
	padding: 30px 0;
	background: darken(@c3,5);
	.copy {
		text-align: center;
		color: #fff;
		font-size: 15px;
		a {
			color: lighten(@c2,50);
		}
		.xart {
			display: inline-block;
			font-size: 12px;
			text-transform: uppercase;
			text-decoration: none;
			&:before{
				content: '|';
				font-size: 15px;
				margin: 0 5px;
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-contact {
	float: right;
	width: 570px;
	padding: 16px 0 0;
	text-align: center;
	@media @md {
		width: 468px;
		padding: 5px 0 0;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		padding: 20px 0;
	}
	.address, .contact {
		.fh;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		padding: 0 0 0 104px;
		margin: 0 -2px;
		color: #fff;
		font-size: 18px;
		line-height: 1.2;
		text-align: left;
		@media @md {
			padding: 0 0 0 50px;
		}
		@media @sm, @xs {
			width: auto;
			padding: 0 30px 0 60px;
		}
		&:before{
			.fi;
			.border-radius(50%);
			content: '\e80d';
			position: absolute;
			top: 50%;
			left: 55px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 22px;
			margin: -20px 0 0;
			text-align: center;
			background: #fff;
			color: @c2;
			@media @md {
				display: none;
			}
			@media @sm, @xs {
				left: 0;
			}
		}
		small {
			.fp;
		}
	}
	.contact {
		padding-left: 110px;
		&:before{
			content: '\e80e';
			color: @c4;
		}
		.phone {
			font-size: 28px;
		}
		.email {
			.fp;
			font-size: 14px;
		}
	}
}
.mod_custom-header {
	position: relative;
	img {
		display: block;
	}
}
.mod_menu-main {
	@media @xs {
		margin: 0 -20px;
	}
	.toggle_menu {
		display: none;
		width: 100%;
		font-size: 22px;
		background: @c2;
		@media @sm, @xs {
			display: block;
		}
		&:hover{
			background: darken(@c2,5);
		}
		&:before{
			.fi;
			font-weight: normal;
			content: '\e812';
			margin: 0 10px 0 0;
			.main_menu-on & {
				content: '\e807';
			}
		}
	}
	.home-left & {
		margin: 0 0 50px;
		@media  @sm, @xs {
			margin: 0 0 50px;
		}
		@media @xs {
			margin: 0 -20px 50px;
		}
		&>ul {
			.rul;
			.clearfix;
			@media @sm, @xs {
				display: none;
				.main_menu-on & {
					display: block;
				}
			}
			&>li {
				.rli;
				float: left;
				width: 385px;
				height: 385px;
				margin: 0 -71px -107px -34px;
				padding: 78px 50px 0 110px;
				background: url(../images/puzzle/01.png) no-repeat;
				@media @sm, @xs {
					width: auto;
					height: auto;
					margin: 0;
					padding: 0;
					background: @c5;
					float: none;
				}
				&:after{
					.fi;
					top: 7px;
					position: relative;
					content: '\e80f';
					color: #fff;
					font-size: 28px;
					line-height: 1;
					margin: 0 0 0 28px;
					@media @sm, @xs {
						display: none;
					}
				}
				&:hover{
					z-index: 1;
					&:after{
						display: none;
					}
					&>a, ul {
						background: darken(@c5,15);
					}
					ul {
						max-height: 600px;
						padding-bottom: 30px;
						@media @sm, @xs {
							max-height: none;
						}
					}
				}
				&>a {
					.fs;
					display: block;
					width: 220px;
					padding: 20px 35px 10px 28px;
					text-transform: uppercase;
					color: #fff;
					font-size: 30px;
					line-height: 1.1;
					@media @sm, @xs {
						padding: 20px 20px 0;
						width: auto;
					}
					&:hover{
						span {
							&:before{
								right: 100%;
							}
						}
					}
					span {
						position: relative;
						display: inline-block;
						padding: 0 0 14px;
						&:before{
							.transition(0.2s);
							position: absolute;
							content: '';
							bottom: 0;
							left: 0;
							right: 0;
							height: 4px;
							background: fade(#fff,50);
						}
					}
				}
				&.cat_01 {
					background-image: url(../images/puzzle/01.png);
					@media @sm, @xs {
						background: @c5;
					}
					&:hover{					
						&>a, ul {
							background: darken(@c5,15);
						}
					}
				}
				&.cat_02 {
					background-image: url(../images/puzzle/02.png);
					@media @sm, @xs {
						background: @c3;
					}
					&:hover{					
						&>a, ul {
							background: darken(@c3,15);
						}
					}
				}
				&.cat_03 {
					background-image: url(../images/puzzle/03.png);
					@media @sm, @xs {
						background: @c6;
					}
					&:hover{
						&>a, ul {
							background: darken(@c6,15);
						}
					}
				}
				&.cat_04 {
					background-image: url(../images/puzzle/04.png);
					@media @sm, @xs {
						background: @c7;
					}
					&:hover{					
						&>a, ul {
							background: darken(@c7,15);
						}
					}
				}
				&.cat_05 {
					background-image: url(../images/puzzle/05.png);
					@media @sm, @xs {
						background: @c2;
					}
					&:hover{					
						&>a, ul {
							background: darken(@c2,15);
						}
					}
				}
				&.cat_06 {
					background-image: url(../images/puzzle/06.png);
					@media @sm, @xs {
						background: @c8;
					}
					&:hover{					
						&>a, ul {
							background: darken(@c8,15);
						}
					}
				}
				&.cat_07 {
					background-image: url(../images/puzzle/07.png);
					@media @sm, @xs {
						background: @c9;
					}
					&:hover{					
						&>a, ul {
							background: darken(@c9,15);
						}
					}
				}
				&.cat_08 {
					background-image: url(../images/puzzle/08.png);
					@media @sm, @xs {
						background: @c10;
					}
					&:hover{					
						&>a, ul {
							background: darken(@c10,15);
						}
					}
				}
				ul {
					.rul;
					.transition(0.2s);
					width: 220px;
					line-height: 20px;
					font-size: 15px;
					padding: 0 35px 0 28px;
					max-height: 60px;
					overflow: hidden;
					color: #fff;
					font-weight: bold;
					@media @sm, @xs {
						width: auto;
						max-height: none;
						padding: 20px 20px 30px;
					}
					li {
						.rli;
						display: inline;
						margin: 0 5px 0 0;
						a {
							color: #fff;
							font-weight: normal;
						}
					}
				}
			}
		}
	}
	#nav-top & {
		&>ul {
			.rul;
			position: relative;
			display: table;
			width: 100%;
			@media @sm, @xs {
				display: none;
				.main_menu-on & {
					display: block;
				}
			}
			&>li {
				.rli;
				position: static;
				display: table-cell;
				vertical-align: middle;
				@media @sm, @xs {
					display: block;
					padding: 0 20px;
				}
				&:hover{
					background: @c5;
					ul {
						display: block;
					}
				}
				&.act {
					&>a {
						color: @c2;
						@media @sm, @xs {
							color: #fff;
						}
						&:before{
							.fi;
							.transition(0.2s);
							content: '\e811';
							position: absolute;
							bottom: 0;
							left: 50%;
							line-height: 1;
							color: #fff;
							width: 60px;
							margin: 0 0 0 -30px;
							@media @sm, @xs {
								display: none;
							}
						}
					}
					&:hover{
						&>a {
							color: #fff;
							&:before{
								font-size: 0;
							}
						}
					}
				}
				&>a {
					.fs;
					.transition(0.2s);
					position: relative;
					display: block;
					color: #fff;
					text-decoration: none;
					font-size: 28px;
					line-height: 1.2;
					text-transform: uppercase;
					text-align: center;
					padding: 38px 5px 29px;
					@media @md {
						font-size: 24px;
					}
					@media @sm, @xs {
						text-align: left;
						padding: 20px 0;
					}
				}
				ul {
					.rul;
					display: none;
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					width: 100%;
					padding: 30px 0;
					background: @c5;
					text-align: center;
					@media @sm, @xs {
						position: static;
						display: block;
						text-align: left;
						padding: 5px 0 25px;
						font-size: 15px;
					}
					li {
						.rli;
						display: inline-block;
						margin: 0 5px;
						color: #fff;
						@media @sm, @xs {
							margin: 0 5px 0 0;
						}
						a {
							color: #fff;
						}
					}
				}
				&.cat_01 {
					&:hover, ul {
						background: @c5;
					}
					@media @sm, @xs {
						background: @c5;
					}
				}
				&.cat_02 {
					&:hover, ul {
						background: darken(@c3,5);
					}
					@media @sm, @xs {
						background: darken(@c3,5);
					}
				}
				&.cat_03 {
					&:hover, ul {
						background: @c6;
					}
					@media @sm, @xs {
						background: @c6;
					}
				}
				&.cat_04 {
					&:hover, ul {
						background: @c7;
					}
					@media @sm, @xs {
						background: @c7;
					}
				}
				&.cat_05 {
					&:hover, ul {
						background: @c2;
					}
					@media @sm, @xs {
						background: @c2;
					}
				}
				&.cat_06 {
					&:hover, ul {
						background: @c8;
					}
					@media @sm, @xs {
						background: @c8;
					}
				}
				&.cat_07 {
					&:hover, ul {
						background: @c9;
					}
					@media @sm, @xs {
						background: @c9;
					}
				}
				&.cat_08 {
					&:hover, ul {
						background: @c10;
					}
					@media @sm, @xs {
						background: @c10;
					}
				}
			}
		}
	}
}
.mod_newsflash_xart {
	margin: 0 40px 45px 0;
	@media @md {
		margin-right: 0;
	}
	@media @sm {
		margin: 0 70px 50px;
	}
	@media @xs {
		margin: 0 0 50px;
	}
	.mod-title {
		.fh;
		font-size: 36px;
		line-height: 1;
		color: @c3;
		margin: 0 0 48px;
		#col-left & {
			margin: 0 0 20px;
		}
	}
	.items {
		.item {
			.clearfix;
			margin: 0 0 47px;
			#col-left & {
				margin: 0 0 10px;
			}
			a {
				color: @c1;
				text-decoration: none;
				figure {
					position: relative;
					float: right;
					width: 41%;
					margin: -24px 0 0;
					&:hover{
						&:before{
							background-color: fade(@c2,30);
						}
					}
					&:before{
						.transition(0.2s);
						position: absolute;
						z-index: 1;
						content: '';
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						background: url(../images/puzzle/10.png) no-repeat;
						-webkit-background-size: 100% 100%;
						-moz-background-size: 100% 100%;
						background-size: 100% 100%;
					}
					img {
						position: relative;
						display: block;
					}
				}
				.date {
					.fh;
					display: inline-block;
					font-size: 23px;
					line-height: 1;
					color: lighten(@c1,40);
					padding: 0 0 17px;
					margin: 0 0 15px;
					border-bottom: 4px solid lighten(@c1,40);
					#col-left & {
						font-size: 18px;
						padding: 0 25px 12px 0;
						margin: 0 0 10px;
					}
				}
				h2 {
					.fp;
					font-size: 17px;
					line-height: 1.4;
					color: @c3;
					font-weight: bold;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.mod_poll {
	color: @c4;
	font-size: 19px;
	margin: 0 0 50px;
	#col-left & {
		font-size: 17px;
	}
	.mod-title {
		.fh;
		font-size: 36px;
		line-height: 1.2;
		color: @c3;
		margin: 0 0 15px;
	}
	label {
		display: block;
		position: relative;
		padding: 0 100px 0 53px;
		color: @c1;
		font-size: 17px;
		line-height: 1.3;
		margin: 0 0 22px;
		#col-left & {
			padding-right: 0;
			font-size: 15px;
			margin: 0 0 16px;
		}
		input[type="radio"], .iradio {
			position: absolute!important;
			left: 4px;
			top: 50%;
			margin: -17px 0 0;
			color: @c4;
			font-size: 32px;
			line-height: 1;
		}
	}
	.buttons {
		margin: 45px 0;
		#col-left & {
			margin: 32px 0;
		}
		input[type="submit"] {
			margin: 0 10px 10px 0;
			#col-left & {
				height: 42px;
				line-height: 42px;
				font-size: 13px;
				padding: 0 20px;
			}
			@media @xxs {
				display: block;
				width: 100%;
			}
		}
		a {
			.btn;
			margin: 0 10px 10px 0;
			background: @c4;
			#col-left & {
				height: 42px;
				line-height: 42px;
				font-size: 13px;
				padding: 0 20px;
			}
			@media @xxs {
				display: block;
				width: 100%;
			}
			&:hover{
				background: darken(@c4,5);
			}
		}
	}
}
.mod_menu-footer {
	ul {
		.rul;
		text-align: center;
		li {
			.rli;
			display: inline-block;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 15px;
			line-height: 1.2;
			margin: 0 22px 20px;
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 0 0 50px;
	&>ul {
		.rul;
		&>li {
			.rli;
			.fh;
			padding: 0 0 0 26px;
			font-size: 18px;
			line-height: 1.2;
			margin: 0 0 5px;
			&.act {
				&>a {
					color: @c4;
					&:before{
						content: '\f12e';
						font-size: 20px;
						top: 0;
						color: @c4;
					}
				}
			}
			&>a {
				color: @c3;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				&:before{
					.fi;
					content: '\e80b';
					position: absolute;
					left: 0;
					top: 3px;
					color: @c2;
					font-size: 16px;
					line-height: 1;
				}
			}
		}
	}
}
.mod_breadcrumbs {
	ul {
		.rul;
		margin: 0 0 30px;
		li {
			.fh;
			display: inline-block;
			margin: 0 10px 0 0;
			padding: 0 0 0 30px;
			color: @c4;
			&:before{
				font-size: 16px;
				top: 5px;
				font-weight: normal;
				color: lighten(@c1,40);
			}
			&.home {
				padding: 0 0 0 35px;
				&:before{
					display: none;
				}
				a {
					&:before{
						.fi;
						content: '\e80d';
						position: absolute;
						top: 0;
						left: 0;
						font-size: 20px;
						line-height: 1;
						color: @c2;
					}
				}
			}
			a {
				color: lighten(@c1,30);
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80c';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}