@charset 'utf-8';
@import url(https://fonts.googleapis.com/css?family=Cantora+One&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=BenchNine&subset=latin,latin-ext);
@import url(../fontello/css/icons.css);

@media screen {
	
	// Reset
	@import 'normalize';

	// Core utilities, config and mixins
	@import 'config';
	@import 'mixins';
	@import 'buttons';
	@import 'utilities';
	@import 'grid';
	@import 'form';

	// Core CSS
	@import 'type';
	@import 'classes';
	@import 'xart_classes';
	@import 'layout';

	// XART
	// @import 'xart';

}


@media print {
	@import 'print';
	//@import 'xart_print';
}
